[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third-party/LEMON"]
	path = third-party/LEMON
	url = https://github.com/philippremy/lemon.git
[submodule "third-party/libE57Format"]
	path = third-party/libE57Format
	url = https://github.com/asmaloney/libE57Format.git
[submodule "third-party/boost"]
	path = third-party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third-party/nanoflann"]
	path = third-party/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "third-party/libexpat"]
	path = third-party/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "third-party/libdeflate"]
	path = third-party/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "third-party/OpenJPH"]
	path = third-party/OpenJPH
	url = https://github.com/aous72/OpenJPH.git
[submodule "third-party/Imath"]
	path = third-party/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "third-party/oneTBB"]
	path = third-party/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "third-party/openexr"]
	path = third-party/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "third-party/OpenColorIO"]
	path = third-party/OpenColorIO
	url = https://github.com/AcademySoftwareFoundation/OpenColorIO.git
[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third-party/lz4"]
	path = third-party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third-party/flann"]
	path = third-party/flann
	url = https://github.com/flann-lib/flann.git
[submodule "third-party/OpenBLAS"]
	path = third-party/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "third-party/SuiteSparse"]
	path = third-party/SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "third-party/ceres-solver"]
	path = third-party/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/pystring"]
	path = third-party/pystring
	url = https://github.com/imageworks/pystring
[submodule "third-party/minizip-ng"]
	path = third-party/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/microsoft/vcpkg.git
